.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
  }
  
  .footer p {
    position: bottom;
    bottom: 0;
    width: 100%;
  }
  
  